/* style.css */
.root {
    -fx-background-color: #212121;
}

.title-label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.text-field {
    -fx-padding: 15px;
    -fx-prompt-text-fill: #B0BEC5;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: #212121;
    -fx-font-size: 16px;
    -fx-pref-width: 100px;
}

#calendarGrid {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-background-color: #212121;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, #212121, 5, 0.2, 0, 0);
}

.calendar-label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.selected-cell {
    -fx-background-color: #af3838;
}

.calendar-cell {
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-min-width: 80px;
    -fx-min-height: 20px;
}

.calendar-cell:hover {
    -fx-background-color: #cbc280;
}

.domain-button {
    -fx-background-color: #212121;
    -fx-text-fill: White;
    -fx-font-size: 12px;
    -fx-pref-width: 80px;
}

.domain-button:hover {
    -fx-text-fill: green;
}

.list-cell {
    -fx-alignment: center;
    -fx-background-color: #212121;
}

.list-view {
    -fx-background-color: #212121;
    -fx-text-fill: White;
}

.card {
    -fx-background-color: #212121;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 0;
}

.menu-bar {
    -fx-background-color: #212121;
    -fx-border-color: #424242;
    -fx-border-width: 1px;
}

.menu {
    -fx-background-color: #212121;
}

.menu-item {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.menu-item:hover {
    -fx-background-color: #424242;
}

.choice-box {
    -fx-background-color: #424242;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-min-width: 100px;
    -fx-alignment: center;
}

.choice-box .label {
    -fx-text-fill: white;
    -fx-alignment: center;
}

.choice-box .label:hover {
    -fx-background-color: #424242;
}
